<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
<bean id="credit" class="com.springProject.CreditCard"></bean>

	<bean id="debit" class="com.springProject.DebitCard"></bean>
	<bean id="upi" class="com.springProject.UPI"></bean>
    <bean id="bc" class="com.springProject.BillCollector">
		<property name="Payment" ref="credit"/>
	</bean>

</beans>






